* {
  background-color: bisque;
}

.row {
  margin-top: 180px;
  margin-left: 300px;
}

table, th, tr , td {
    background-color: aqua;
    width: 60%;
    border: 1px solid black;
  }

.center {
  text-align: center;
}
